<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rental House Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">	
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
	

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Rental House Management</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#"><i class="icon-home icon-white"></i> Home</a></li>
              <li><a href="tenants">Tenants</a></li>
              <li><a href="rooms">Rooms</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
		<!--modal -->
		<div class="modal fade" id="modal1" style="display: none;">
			<div class="modal-header">
			<button class="close" data-dismiss="modal">×</button>
			<h3>Modal header</h3>
			</div>
			<div class="modal-body">
			<div class="displayClass" id="displayHereId"></div>
			</div>
			<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<a href="#" id="payRentSubmitId" class="btn btn-success modalSubmitBtn">Pay Now</a>
			</div>
		</div><!--ends modal -->

      <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">
			<h1>Introduction</h1>
			<p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
			<p><a class="btn btn-primary btn-large pull-right">Contact Me &raquo;</a></p>
        </div>

      <!-- Example row of columns -->
        <div class="row">
			<div class="span8">
				<iframe width="600" height="305" src="http://www.youtube.com/embed/_Wo9JxLIQYg" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="span4">
			  <h2>Project One</h2>
			   <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>			  
		   </div>
        </div><!--end row 1 -->
		


	    <div class="row">
			<div class="span4">
			  <h2>Heading</h2>
			  <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			  <p><a class="btn" href="#">View details &raquo;</a></p>
			</div>
		  
			<div class="span8">
			  <h2>Heading</h2>
			  <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			  <p><a class="btn" href="#">View details &raquo;</a></p>
			</div>

		</div><!-- end row 3 -->
		
		<div class="row">
			<h2>Current Payment Stuatus</h2>
			<div class="span12">
			
			<h2>Unpaid Tenants</h2>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Pending Tenant</th>
							<th>Room Number</th>
							<th>Start Date</th>
							<th>Rent</th>
							<th>Rate</th>
							<th>Pay Period</th>
							<th>Total PaidRent</th>
							<th>Last PayDate</th>
							<th>Expiry Date</th> 
							<th>Unpaid Weeks</th>
							<th>Unpaid Rent</th>
							<th>Rent To Pay</th>
							<th>Pay Now</th>
						</tr>
					</thead>
					</tbody>
						{% for tenant in pendingTenants %}
							<tr>
								<td class="tenantNameClass">
									<a href="#" rel="popover" data-content="click to get {{ tenant.firstName }} {{ tenant.surname }}'s profile" data-original-title="Remainder:" data-tenant-key="{{ tenant.key }}" >{{ tenant.firstName }} {{ tenant.surname }}</a>					
								</td>
								<td class="roomNumberClass">
									<!--<a href="#" rel="popover" data-content="click to get room {{ tenant.room.roomNumber }} 's information" data-original-title="Remainder:" data-room-key="{{ tenant.room.key }}" data-tenant-state="pending">{{ tenant.room.roomNumber }}</a>-->
									<a href="#" rel="popover" data-content="click to get room {{ tenant.room.roomNumber }} 's information" data-original-title="Remainder:" data-room-key="{{ tenant.room.key }}">{{ tenant.room.roomNumber }}</a>
								</td>
								<td>{{ tenant.startDate }}</td>
								<td>{{ tenant.getRent }}</td>
								<td>{{ tenant.getRentRate }}</td>
								<td>{{ tenant.payPeriod }}</td>
								<td class="paymentHistoryClass"> 
									<a href="#" rel="popover" data-content="click to get {{ tenant.firstName }} {{ tenant.surname }}'s payment history" data-original-title="Remainder:" data-tenant-key="{{ tenant.key }}" data-totalpaidrent="{{ tenant.getTotalPaidRent }}">{{ tenant.getTotalPaidRent }}</a>
								</td>
								<td>{{ tenant.getLastPayDate }}</td>
								<td>{{ tenant.expiryDate }}</td>
								<td>{{ tenant.getUnpaidWeeks }}</td>
								<td>{{ tenant.getUnpaidRent }}</td>
								<td>{{ tenant.getRentToPay }}</td>
								<!--<td class="payNowClass">-->
								<td class="payRentClass">
									<!--<a href="#" rel="popover" data-content="click to pay the rent right now" data-original-title="Remainder:" data-tenant-key={{ tenant.key }} data-tenant-firstname={{ tenant.firstName }} data-tenant-surname={{tenant.surname}} data-tenant-state="pending">Pay Now</a>--> 
									<a href="#" rel="popover" data-content="click to pay the rent right now" data-original-title="Remainder:" data-tenant-key="{{ tenant.key }}" data-tenant-firstname="{{ tenant.firstName }}" data-tenant-surname="{{tenant.surname}}">Pay Now</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div id="pendingTenantProfile"></div></br>
				<div id="payNowId"></div>
			</div>
		</div><!-- end row 4-->
	    
		<div class="row">
			<div class="span12">
				<h2>Paid Tenants</h2>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Cleared Tenant</th>
								<th>Room Number</th>
								<th>Start Date</th>
								<th>Rent</th>
								<th>Rate</th>
								<th>Pay Period</th>
								<th>Total PaidRent</th>
								<th>Last PayDate</th>
								<th>Expiry Date</th>
								<th>Pay Now</th>						
							</tr>
						</thead>
						<tbody>
						{% for tenant in clearedTenants %}
							<tr>							
								<td class="tenantNameClass" >	
									<a href="#" rel="popover" data-content="click to get {{ tenant.firstName }} {{ tenant.surname }}'s profile" data-original-title="Remainder:" data-tenant-key="{{ tenant.key }}" >{{ tenant.firstName }} {{ tenant.surname }}</a>
								</td>
								<td class="roomNumberClass" > 																					
									<!--<a href="#" rel="popover" data-content="click to get room {{ tenant.room.roomNumber }} 's information" data-original-title="Remainder:" data-room-key="{{ tenant.room.key }}" data-tenant-state="cleared">{{ tenant.room.roomNumber }}</a>-->
									<a href="#" rel="popover" data-content="click to get room {{ tenant.room.roomNumber }} 's information" data-original-title="Remainder:" data-room-key="{{ tenant.room.key }}">{{ tenant.room.roomNumber }}</a>									
								</td>
								<td>{{ tenant.startDate }}</td>						
								<td>{{ tenant.getRent }}</td>
								<td>{{ tenant.getRentRate }}</td>
								<td>{{ tenant.payPeriod }}</td>
								<td class="paymentHistoryClass" > 									
									<a href="#" rel="popover" data-content="click to get {{ tenant.firstName }} {{ tenant.surname }}'s payment history" data-original-title="Remainder:" data-tenant-key="{{ tenant.key }}" data-totalpaidrent="{{ tenant.getTotalPaidRent }}">{{ tenant.getTotalPaidRent }}</a>									
								</td>
								<td>{{ tenant.getLastPayDate }}</td>
								<td>{{ tenant.expiryDate }}</td>
								<td class="payRentClass">						
									<!--<a href="#" rel="popover" data-content="click to pay the rent right now" data-original-title="Remainder:" data-tenant-key={{ tenant.key }} data-tenant-firstname={{ tenant.firstName }} data-tenant-surname={{tenant.surname}} data-tenant-state="cleared">Pay Now</a>-->
									<!--<a href="#myModal1" rel="popover" data-content="click to pay the rent right now" data-toggle="modal" data-original-title="Remainder:" data-tenant-key={{ tenant.key }} data-tenant-firstname={{ tenant.firstName }} data-tenant-surname={{tenant.surname}} data-tenant-state="cleared">Pay Now</a>-->
									<a href="#" id="payRentModalId" data-toggle="modal" rel="popover" data-content="click to pay the rent right now" data-original-title="Remainder:" data-tenant-key="{{ tenant.key }}" data-tenant-firstname="{{ tenant.firstName }}" data-tenant-surname="{{tenant.surname}}">Pay Now</a>
									
								</td>	
							</tr>
						{% endfor %}
						</tbody>
					</table>
				<div id="clearedTenantProfile"></div>
				<a href="#">The end of tables</a></br>
				<input class="btn btn-primary" type="submit" value="OK"></br> 
				<p><a class="btn-primary btn-large" data-toggle="modal" href="#myModal1" data-backdrop="static" >Launch Modal</a></p>
			</div>
		</div><!-- end row 5-->


		<a href="#" id="someOtherId" class="btn btn-danger" rel="popover" data-content="do something?" data-original-title="Remainder:" >Some Other Button</a> 



			<footer>
				<p>&copy; Company 2012</p>
			</footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>-->
			<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
			<script type="text/javascript" src="/scripts/app.js"></script>
			<script src="/scripts/bootstrap-modal.js"></script>
			<script src="scripts/bootstrap-tooltip.js"></script>
			<script src="/scripts/bootstrap-popover.js"></script> 			
			

  </body>
</html>
